<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitor Redes</title>
        <style>
        .form-wrapper {
            display: inline-block;
        }
        body {
            background-color: #121212; /* Substitua pela cor desejada */
        }
        </style>
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Vitor Redes</h1>
      <h2>Parâmetros do circuito:</h2>
    <div class="form-wrapper">
    <form action="/processar" method="post">
         {% if not parametros %}
        <label for="nos">Número de nós:</label>
        <input type="text" autofocus name="nos" placeholder="Ex: 5">
        <br>
        <label for="referencia">Nó de referência:</label>
        <input type="text" name="referencia" placeholder="Ex: 2">
        <br>
        <label for="nominal">Nó da tensão nominal:</label>
        <input type="text" name="nominal" placeholder="Ex: 4">
        <br>
        <label for="tensao_nominal">Valor da tensão nominal:</label>
        <input type="text" name="tensao_nominal" placeholder="Ex: 10 + j5">
        <label for="tensao_nominal">[V]</label>
        <br>
        <label for="injecao">Injeção de corrente/potência:</label>
        <select name="injecao">
        <option selected value="nao">Não</option>
            <option value="sim_corrente">Corrente</option>
            <option value="sim_potencia">Potência</option>
        </select>
        <br>
        <label for="no_injecao">Nó da injeção:</label>
        <input type="text" name="no_injecao" placeholder="Ex: 4">
        <br>
        <label for="valor_injecao">Valor da injeção:</label>
        <input type="text" name="valor_injecao" placeholder="Ex: 3+j5">
        <label for="valor_injecao">[A/VA]</label>
        <br><br>
        <input type="submit" value="Confirmar">
        {% else %}
        {% if parametros[4] == 'sim_corrente' %}
        <p>Número de nós: {{ parametros[0] }} <br> Nó de referência:
            {{ parametros[1] }}<br> Nó da tensão nominal: {{ parametros[2] }}<br> Tensão nominal: {{ parametros[3] }} [V]<br> Injeção de {{ parametros[6] }} [A] no nó
        {{ parametros[5] }}</p>
        {% elif parametros[4] == 'sim_potencia' %}
        <p>Número de nós: {{ parametros[0] }} <br> Nó de referência:
            {{ parametros[1] }}<br> Nó da tensão nominal: {{ parametros[2] }}<br> Tensão nominal: {{ parametros[3] }} [V]<br> Injeção de {{ parametros[6] }} [VA] no nó
        {{ parametros[5] }}</p>
        {% else %}
        <p>Número de nós: {{ parametros[0] }} <br> Nó de referência:
            {{ parametros[1] }}<br> Nó da tensão nominal: {{ parametros[2] }}<br> Tensão nominal: {{ parametros[3] }} [V]<br>Sem injeção de corrente/potência!</p>
        {% endif %}
        {% endif %}
        <h2>Insira as cargas:</h2>
        <label for="dados">Impedância: </label>
        <input type="text" autofocus name="dados" placeholder="Ex: 1-j2">
        <label for="dados">[Ω]</label>
        <br>
        <label for="no1">Primeiro nó:</label>
        <input type="text" name="no1" placeholder="Ex: 1">
        <br>
        <label for="no2">Segundo nó:</label>
        <input type="text" name="no2" placeholder="Ex: 2">
        <br><br>
        <input type="submit" value="Adicionar">
    </form>
    <br>
    <div class="form-wrapper">
    <form action="/remover-ultimo" method="post">
        <input type="submit" value="Remover Último">
    </form>
    </div>
    <div class="form-wrapper">
        <form action="/remover-todos" method="post">
        <input type="submit" value="Remover Todos">
    </form>
    </div>
    <div class="form-wrapper">
    <form action="/limpar-parametros" method="post">
        <input type="submit" value="Limpar parâmetros">
    </form>
    </div>
        {% if dados %}
    <h2>Dados inseridos:</h2>
    <ul>
        {% for lista in dados %}
            <li>
                Impedância de {{ lista[0] }} [Ω] entre os nós {{ lista[1] }} e {{ lista[2] }}
            </li>
        {% endfor %}
    </ul>
        {% endif %}
        {% if dados and parametros %}
        <div class="form-wrapper">
        <form action="/calcular" method="post">
    <input type="submit" value="Calcular">
        </form>
    </div>
        {% endif %}
    {% if resultado is not none %}
     <h2>Resultado:</h2>
    <ul>
        {% for item in resultado %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>